<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Username: {{ username }}</h1>
    {% if username == "default" %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% else %}
        {% if username == "admin" %}
            <a href="/adminpanel">Admin Panel</a>
        {% endif %}
        <a href="/logout">Log out</a>
    {% endif %}
</body>
</html>